<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col"><h1>Real Time Products</h1></div>
        
        <div class="col"></div>
    </div>
</div>

<div class="container">
    <h2>Lista de productos</h2>

    <div class="row d-flex justify-content-center">
        {{#each products}}
            <div class="card mx-auto" style="width: 18rem;" data-id="{{this.id}}">
                <img src="{{this.thumbnail}}" alt="img" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{this.category}}</h6>
                    <p class="card-text">{{this.description}}</p>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{this.price}}</h6>
                    <button class="btn btn-danger btn-delete" data-id="{{this.id}}">Eliminar</button>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        {{/each}}
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col d-flex justify-content-center gap-3">
            {{#each links}}
                <a href=" {{this.link}} " class="btn btn-primary mt-3"> {{this.text}} </a>
            {{/each}}
        </div>
        <div class="col"></div>
    </div>
    
</div>

<form id="formNewProduct" action="http://localhost:8080/api/products" method="post" class="mt-5 mb-3">

    <h2>Agregue un producto:</h2>
    <label for="title" class="form-label">Nombre del producto:</label>
    <input type="text" name="title" class="form-control" id="titleInput" placeholder="Inserte nombre.." required>

    <label for="description" class="form-label">Descripción:</label>
    <input type="text" name="description" class="form-control" id="descriptionInput" placeholder="Inserte descripción.." required>

    <label for="code" class="form-label">Código:</label>
    <input type="text" name="code" class="form-control" id="codeInput" placeholder="Inserte codigo de producto.." required>

    <label for="price" class="form-label">Precio:</label>
    <input type="number" name="price" class="form-control" id="priceInput" placeholder="Inserte el precio del producto.." required>

    <label for="stock" class="form-label">Stock:</label>
    <input type="number" name="stock" class="form-control" id="stockInput" placeholder="Insert stock.." required>

    <label for="category" class="form-label">Categoría:</label>
    <input type="text" name="category" class="form-control" id="categoryInput" placeholder="Inserte categoría.." required>

    <button type="submit" class="btn btn-primary mt-3">Enviar</button>

</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>